.pilopaga .main_container, .pilopaga {
    /*	background: rgb(0,171,211);*/
    background:  url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/spp-bg-general.png) repeat, -moz-linear-gradient(left,  rgb(0,171,211) 0%, rgb(29,186,217) 20%, rgb(29,186,217) 80%, rgb(0,171,211) 100%);
    background: url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/spp-bg-general.png) repeat, -webkit-linear-gradient(left,  rgb(0,171,211) 0%,rgb(29,186,217) 20%,rgb(29,186,217) 80%,rgb(0,171,211) 100%);
    background: url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/spp-bg-general.png) repeat, linear-gradient(to right,  rgb(0,171,211) 0%,rgb(29,186,217) 20%,rgb(29,186,217) 80%,rgb(0,171,211) 100%) ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abd3', endColorstr='#00abd3',GradientType=1 );
}
.pilopaga .section_container {
    width: 1024px;
}
.pilopaga .section_content {
    -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
}
.pilopaga .header{display:none;}
.pilopaga #block-search-form{display:none;}
.pilopaga .header_search{
    background-color:#0F2A25;
    height:31px;
}
.pilopaga .wrapper .header_search .header_search_container .block-block{
    margin:2px 0px;
}
.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.facebook,.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.facebook:hover{
    background:url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/pilopaga-facebook-icon.png) no-repeat;
}
.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.twitter,.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.twitter:hover{
    background:url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/pilopaga-twitter-icon.png) no-repeat;
}
.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.rss,.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.rss:hover{
    background:url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/pilopaga-rss-icon.png) no-repeat;
}
.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.youtube,.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.youtube:hover{
    background:url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/pilopaga-youtube-icon.png) no-repeat;
}
.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.flickr, .pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.flickr:hover{
    background:url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/pilopaga-flickr-icon.png) no-repeat;
}
.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container  a.rss:hover, .pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.twitter:hover, .pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.facebook:hover,.pilopaga.wrapper .header_search .header_search_container .block-block .sns_container a.rss:hover,.pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.youtube:hover, .pilopaga .wrapper .header_search .header_search_container .block-block .sns_container a.flickr:hover{
    background-position:0 -24px;
    -webkit-transition: background 100ms ease-out;
    -moz-transition: background 100ms ease-out;
    -ms-transition: background 100ms ease-out;
    -o-transition: background 100ms ease-out;
    transition: background 100ms ease-out;
    color: rgba(255, 255, 255, 0);
}
.pilopaga .wrapper .user_menu_container{background-color:#223D38;}
.pilopaga .breadcrumb{display:none;}
.pilopaga .title{display: none;}
.pilopaga .pane-menu-menu-ser-pilo-paga{
    background-color:#223D38;
}
.pilopaga .pane-menu-menu-ser-pilo-paga ul li a{
    color:#DBDB16;
    display:block;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    padding: 5px;
}

.pilopaga .pane-menu-menu-ser-pilo-paga ul li{
    display:inline-block;
    margin:26px 0px 30px 0px;
    width:16%;
    box-sizing: border-box;
    border-left: solid 1px #1B978C;
    font-size: 13px;
    white-space: pre-wrap;
}
.pilopaga .pane-menu-menu-ser-pilo-paga ul li:first-child{
    border-left: 0px;
    color: rgba(255, 255, 255, 0);
    background: url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/icoserpilopagahead.png) no-repeat  center center / contain;
    background-position:center;
    width: 21%;
    margin: 0px;
    padding: 0px;
    line-height: 100px;
    z-index: 100;
    min-width: 175px;
}
.pilopaga .pane-menu-menu-ser-pilo-paga ul li:first-child a{
    color:rgba(255, 255, 255, 0);
}
/*slider*/
.pilopaga .views-slideshow-cycle-main-frame{
    overflow:hidden;
    width: 100%!important;
    height: 360px!important;
}
.pilopaga .pilopaga-slideshow .view-content{
    height:360px;
}
.pilopaga .pilopaga-slideshow .views-slideshow-controls-bottom{
    position:relative;
    top: -230px;
    z-index: 100;
    width: 100%;
    height:0px;
    box-sizing: border-box;
    padding: 15px;
}
.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-previous{
    display: block;
    width: 58px;
    height: 58px;
    float: left;
    color: transparent;
    background: url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/control-previous.png) no-repeat;
    color:transparent;
}
.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-next{
    display: block;
    width: 58px;
    height: 58px;
    float: right;
    color: transparent;
    background: url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/control-next.png) no-repeat;
}
.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-previous:hover,.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-next:hover{
    background-position:-57px 0px;
}
.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-next a:hover,.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-previous a:hover{color:transparent; text-decoration:none;}
.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-next a, .pilopaga .pilopaga-slideshow .views-slideshow-controls-text-previous a{color:transparent; text-decoration:none;}
.pilopaga .pilopaga-slideshow .views-slideshow-controls-text-pause{display: none;}
.pilopaga .pilopaga-slideshow .views-slideshow-slide-counter{
    position: absolute;
    bottom: 10px;
    left: 50%;
    display:none;
}
/*fin slideshow*/
.pilopaga .views-slideshow-cycle-main-frame img{
    width: 100%;
    height: auto;
}
.pilopaga .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row, .pilopaga .views-slideshow-cycle-main-frame .views_slideshow_cycle_slide, .pilopaga .views-slideshow-cycle-main-frame .views_slideshow_slide{
    width: 100%!important;
    height: 380px!important;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row {
    width:25%;
    display:inline-block;
    vertical-align: top;
    padding:20px 0px 20px 0px;
    box-sizing:border-box;
    border-bottom:2px solid #7B7B7B;
    height: 80px;
    margin-right:-4px;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row:hover a{
    color:#AF0E75;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row:hover{
    border-bottom:2px solid #AF0E75;
}
.pilopaga .pilopaga-menu-secundario .view-content {
    background-color:#FFFFFF;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row a{
    color:#7B7B7B;
    font-weight: bold;
    text-decoration:none;
    padding-left:45px;
    display:block;
    text-align:left;
}

.pilopaga .pilopaga-menu-secundario .view-content .views-row:first-child{
    background: url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/viewsrowfirst.png) no-repeat;
    background-position: -4px 18px;
    padding-top: 30px;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row:nth-child(2){
    background: url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/viewsrowsecond.png) no-repeat;
    background-position: -4px 18px;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row:nth-child(3){
    background: url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/viewsrowtird.png) no-repeat;
    background-position: -4px 15px;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row:last-child{
    background: url(https://dl.dropboxusercontent.com/u/575652037/pilopaga/img/viewsrowfourth.png) no-repeat;
    background-position: -4px 18px;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row:first-child:hover,.pilopaga .pilopaga-menu-secundario .view-content .views-row:nth-child(2):hover,.pilopaga .pilopaga-menu-secundario .view-content .views-row:last-child:hover{
    background-position: -4px -98px;
}
.pilopaga .pilopaga-menu-secundario .view-content .views-row:nth-child(3):hover{
    background-position: -4px -100px;
}

.pilopaga .pilopaga-menu-secundario .view-content .views-row{
    background-position:-5px 20px;
}
.pilopaga .spp-site-destacados{
    width: 39%;
    display: inline-block;
    vertical-align: top;
}
.pilopaga .spp-site-destacados .row{
    margin-left: 0px;
    margin-right: 0px;
}
.pilopaga .spp-video-destacados{
    width: 60%;
    display:inline-block;
    padding: 0 10px 15px 0;
}
.pilopaga .panel-separator{
    display:none;
}

.pilopaga .spp-publication-history{
  width: 30%;
  float: left;
  height: 340px;
  overflow: auto;
  z-index: 1;
  margin-top: 15px;
  margin-left: 25px;
  border: solid 1px #cdcdcd;
  padding: 0px 5px;
  background-color: white;
}

.pilopaga .spp-redes-sociales .view-content{
  display: -webkit-inline-box;
  width: 65%;
  padding: 5px 0px 15px 28px;
}

.pilopaga .spp-redes-sociales .view-content .views-row-1 {
  width: 44%;
  display: inline-block;
  margin-top: 9px;
  border: 1px solid #cdcdcd;
  height: 340px;
  overflow: hidden;
}
.pilopaga .spp-redes-sociales .view-content .views-row-2{
  float: right;
  width: 54%;
  display: inline-block;
  margin-top: 9px;
  border: 1px solid #cdcdcd;
  height: 340px;
  overflow: hidden;
  background-color: #ffffff;
}
.fb-page.fb_iframe_widget iframe{
  width: 500px!important;
}

.pilopaga .spp-site-destacados h2{
    color:#5B5B5F !important;
    text-transform: uppercase;
    display: inline-block;
		border-bottom: 2px solid;
}
.pilopaga .spp-site-destacados .icon-destacado{
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/title-icons.png) no-repeat;
    background-position: -10px -12px;
    vertical-align: middle;
    margin: 0 10px;
}
.pilopaga .spp-site-destacados .spp-btn{
  background-color: #e6e6e6;
  margin: 13px 22px;
  width: 89%;
  height: 95px;
  padding: 0px;
}
.pilopaga .spp-site-destacados .spp-btn:last-child{
  margin-bottom: 0px;
}
.pilopaga .spp-site-destacados .spp-btn a{
		color:transparent;
		height: 95px;
		width: 100%;
		display: block;
}
.pilopaga .spp-site-destacados .spp-btn .spp-btn-colombiaprende{
	background: url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/spp-btn-colombiaprende.png) no-repeat center center / contain ,#00515F;
	border: solid 6px #00515F;
}
.pilopaga .spp-site-destacados .spp-btn .spp-btn-chatpiloso{
	background: url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/spp-btn-chatpiloso.png) no-repeat center center / contain,#1B978C;
	border: solid 6px #1B978C;
}
.pilopaga .spp-site-destacados .spp-btn .spp-btn-pilotecav{
	background: url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/spp-btn-piloteca.png) no-repeat center center / contain,#3C3F60;
	border: solid 6px #3C3F60;
}
.pilopaga .spp-video-destacados h2{
    color:#5B5B5F !important;
    text-transform: uppercase;
    display: inline-block;
		margin-bottom: 20px;
		border-bottom: 2px solid;
}
.pilopaga .spp-video-destacados .icon-video-destacado{
		display: inline-block;
    width: 34px;
    height: 34px;
    background: url(https://dl.dropboxusercontent.com/u/575652037/edu-pilo/img/title-icons.png) no-repeat;
    background-position: -10px -60px;
    vertical-align: middle;
    margin: 0 10px;
}
.pilopaga .fb_reset{
    display: none;
}

.pilopaga .spp-redes-sociales .view-content .titulo-spp-home a{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    color: #808080;
}

.pilopaga .spp-publication-history h2{
    text-transform: uppercase;
    text-decoration: underline;
    padding-left: 50px;
    background: url('../img/title-icons.png') no-repeat;
    background-position: 0 -104px;
}

.pilopaga .spp-redes-sociales .view-content .views-row-1 .titulo-spp-home {
    padding-left: 50px;
    background: url('../img/title-icons.png') no-repeat;
    background-position: 0 -208px;
    height: 40px;
    padding-top: 15px;
}

.pilopaga .spp-redes-sociales .view-content .views-row-2 .titulo-spp-home {
    padding-left: 50px;
    background: url('../img/title-icons.png') no-repeat;
    background-position: 0 -158px;
    height: 40px;
    padding-top: 15px;
}
.pilopaga .spp-content p{
	padding: 15px;
}
.pilopaga .spp-content iframe{
	margin: 0 25%;
}
.pilopaga .spp-video-destacados .embed-responsive {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 6px;
}

/*@media */
@media (max-width: 1025px) {
    .pilopaga .views-slideshow-cycle-main-frame{
        height: 34vw !important;
    }
    .pilopaga .pilopaga-slideshow .view-content{
        height:32vw;
        margin-bottom: 0px;
    }
    .pilopaga .pilopaga-slideshow .views-slideshow-controls-bottom {
        top: -23vw;
    }
}

@media (min-width: 1024px) {
    .pilopaga .spp-site-destacados {
        height: 410px;
        overflow: auto;
    }
}

@media (max-width: 850px) {
    .pilopaga .pilopaga-menu-secundario .view-content .views-row{
        width: 50%;
    }
}

@media (min-width: 781px) and (max-width: 1023px) {
    .pilopaga .pane-menu-menu-ser-pilo-paga ul li a {
        font-size: 12px;
    }

    .pilopaga .spp-site-destacados {
        height: 39vw;
        overflow: auto;
    }
}

@media (min-width: 781px) {
    .pilopaga .pane-content .menu {
        display: flex;
        align-items: stretch;
    }

    .pilopaga .pane-content .menu li {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 780px) {
		.pilopaga .toggle_primary_menu{
			display:none;
		}
		.pilopaga .spp-site-destacados{
			width: 100%;
		}
		.pilopaga .spp-video-destacados{
			width: 100%;
		}
    .pilopaga .pane-menu-menu-ser-pilo-paga ul li,.pilopaga .pane-menu-menu-ser-pilo-paga ul li:first-child{
        width:100%;
        border-left: 0px;
    }

    .pilopaga .spp-publication-history {
        float: left;
        height: 335px;
        overflow: auto;
        padding-top: 3px;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .pilopaga .spp-publication-history h2 {
        text-transform: uppercase;
        text-decoration: underline;
        padding-left: 50px;
        background: url('../img/title-icons.png') no-repeat;
        background-position: 0 -105px;
        height: 40px;
        padding-top: 10px;
    }

    .pilopaga .spp-redes-sociales .view-content .views-row-1 {
        display: inline-block;
        width: auto;
    }

    .pilopaga .spp-redes-sociales .view-content .views-row-2 {
        padding-left: 30px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        width: auto;
    }
    .pilopaga .spp-redes-sociales .view-content,
    .pilopaga .spp-redes-sociales .view-content div,
    .pilopaga .spp-redes-sociales .view-content iframe
    {
        width: 100% !important;
        padding: 0;
        display: block !important;
    }

    .pilopaga .spp-redes-sociales .redes_sh {
        text-align: center;
        padding: 0 15px !important;
    }
}

@media (max-width: 767px) {
    .pilopaga .pilopaga-slideshow .views-slideshow-controls-bottom {
        top: -26vw;
    }
    .pilopaga .pilopaga-slideshow .view-content{
        height:27vw;
        margin-bottom: 0px;
    }
}

@media (max-width: 600px) {
    .pilopaga .pilopaga-menu-secundario .view-content .views-row{
        width: 100%;
    }
}
